
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header, Logo, Nav */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    padding: 5px;
}

/* Intro Text and Image*/
.intro {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 32px 15% 90px 15%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 35%;
}

.right {
    display: flex;
    width: 35%;
}

#main-img {
    display: flex;
    width: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: right;
}

.button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 800;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

/* Image Gallery */
.gallery {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 15%;
    padding-right: 15%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    text-align: center;
    color: #4F4F4F;
    font-size: 12px;
}

.gallery-image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px #3882F6;
}

/*Quote Section*/
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px 15% 60px 15%;
}

.quote-text {
    font-size: 35px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    text-align: left;
    margin: 0px;
}

.attribution {
    text-align: right;
    margin: none;
}

/*Call to Action */
.modal {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 60px auto;
}

.small-card {
    flex-direction: column;
    padding: 42px;;
}

.action-text {
    margin: 0;
}

.button-alt {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid 2px #F9FAF8;
    border-radius: 5px;
    padding: 5px;
    font-weight: 800;
    font-size: 18px;
}




/*Footer */
.footer {
    text-align: center;
    font-size: 12px;
    background-color: #1F2937;
    color: #F9FAF8;
}

